---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/Sidebar.astro";

export const getStaticPaths =  async () => {
    const posts = await getCollection('posts');
    const paths = posts.map(post => {
      return {params:{ slug: post.slug}, props: { post}}
    })  
    return paths;
}


type Props = {
  post: CollectionEntry<"posts">
}

const anim = {
	old: {
	  name: 'test',
	  duration: '0.2s',
	  easing: 'cubic-bezier',
	  fillMode: 'forwards',
	},
	new: {
	  name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'cubic-bezier',
	  fillMode: 'backwards',
	}
  };
  
  const myFade = {
	forwards: anim,
	backwards: anim,
  };

const canonicalURL = new URL(Astro.url);
const { post } = Astro.props;
const { Content } = await post.render();


---
  <Layout title = "Devlog">
    <Sidebar selected = "devlog"></Sidebar>
    <div class = "main-content" transition:animate={myFade}>
      <div class="blog-container">
        <div class="blog-header-container">
          <h1 class = "blog-text">{post.data.title}</h1>
          <div style = "display:flex; flex-direction:row; width: 100%;">
            <a href = {canonicalURL.protocol+"//"+canonicalURL.host+"/devlog/"} style = "flex: 1; text-decoration: none;">
              <h2 class = "back-button">◄devlog</h2>
            </a>
            <h2 class = "blog-text" style = "flex: 1.8">{post.data.date}</h2>

          </div>
        </div>
        <div class = "slug-content-container">
          <Content/>
        </div>
      </div>
    </div>
  </Layout>
