---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import DevlogEntry from "../components/DevlogEntry.astro";
import Sidebar from "../components/Sidebar.astro";
import {getCollection, type CollectionEntry} from "astro:content";


export const getStaticPaths = async () => {
	const posts = await getCollection("posts");
	let count = posts.length;
	let pages : any[] = [];

	for(let i = 0; count > 0; count-=3){
		pages.push({params: {page: `dev${i}`},});
		i++;
	}
	return pages;
} 


const anim = {
  old: {
    name: 'test',
	  duration: '0.2s',
	  easing: 'cubic-bezier',
	  fillMode: 'forwards',
	},
	new: {
    name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'cubic-bezier',
	  fillMode: 'backwards',
	}
};
  
const myFade = {
	forwards: anim,
	backwards: anim,
};



const canonicalURL = new URL(Astro.url);

const startPoint = parseInt(canonicalURL.pathname.replace(/^[^\d]+/g, '')) * 3;
const endPoint = startPoint + 3;
console.log(canonicalURL.pathname.replace(/^[^\d]+/g, ''));
console.log(startPoint);
console.log(endPoint);

 const posts = await getCollection("posts");
 console.log(posts);

 type Props = {
   post_list: CollectionEntry<'posts'>[];
 }

 ---
 
 <Layout title = "Devlog">
	<Sidebar selected = "devlog"></Sidebar>
	<div class = "main-content" transition:animate={myFade}>
		{
			
			posts.toReversed()
			.slice(
				startPoint,
				endPoint
			)
			.map((p) => <DevlogEntry post={p}/>)
		}
 </div>
</Layout>