---
import Layout from "../layouts/Layout.astro";
import DevlogEntry from "../components/DevlogEntry.astro";
import Sidebar from "../components/Sidebar.astro";
import {getCollection, type CollectionEntry} from "astro:content";

const anim = {
	old: {
	  name: 'test',
	  duration: '0.2s',
	  easing: 'cubic-bezier',
	  fillMode: 'forwards',
	},
	new: {
	  name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'cubic-bezier',
	  fillMode: 'backwards',
	}
  };
  
  const myFade = {
	forwards: anim,
	backwards: anim,
  };

  const posts = await getCollection("posts");
  console.log(posts);

  type Props = {
	post_list: CollectionEntry<'posts'>[];
  }

  const {post_list} = Astro.props;

---

<Layout title = "Devlog">
    <Sidebar selected = "devlog"></Sidebar>
    <div class = "main-content" transition:animate={myFade}>
		{posts.toReversed().map((p) => <DevlogEntry post={p}/>)}
	</div>
</Layout>