---
import IndexLayout from '../layouts/IndexLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import Project from '../components/Project.astro';
import Card from '../components/Card.astro';
import { ViewTransitions} from 'astro:transitions';
import HeaderLink from '../components/HeaderLink.astro';

function get_style(name:string, selected:string): string{
    console.log(name, selected);
    if (name == selected){
        return "color: #6d2c1f; text-shadow: 0px 3px 0 #e7b7ad;";
    } else{
        return "color: var(--text-color-dark); font-size: 3vw white-space: nowrap;";
    }
}

const anim = {
	old: {
	  name: 'test',
	  duration: '0.2s',
	  easing: 'linear',
	  fillMode: 'forwards',
	},
	new: {
	  name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'linear',
	  fillMode: 'forwards',
	}
  };
  
  const myFade = {
	forwards: anim,
	backwards: anim,
  };
  const canonicalURL = new URL(Astro.url);
  Astro.redirect('projects.html');
  
---

<head>
</head>
<IndexLayout title="Kyle Maroscher">
	<div class = "hero" style = "width: 100%; align-items:center;" transition:animate="fade">

		<div class = "hero-flex-container">

			<div class = "full-headshot-hero headshot-hero" style = "margin-top: 2%;">
				<a href = "index.html" style = "width: 100%; height: 100%; display:block; " >
					<img src = {"http://"+canonicalURL.host + "/images/HeadshotProfessional-Square.png"} style = " width: 100%;height: 100%; border-radius: 30px; transform: rotateZ(3deg); display:block; box-shadow: 6px 6px 0px var(--text-color-compliment);" alt="Me."/>
				</a>
				
			</div>
			<div class = "hero-text-container">
				<h1 class = "hero-profession-text" style = " color: var(--text-color-compliment-alt); margin: 0px; margin-left: 10%;">Hey! <span>&#128075;</span> My name is</h1>
				<div class = "hero-name-text" style = "margin-right: auto;">
					<b>Kyle Maroscher</b>
				</div>
				<div class = "hero-profession-text" style = "">
					<b><span style = "margin-left: 10%; color: var(--text-color-compliment-alt)">I am a </span>Gameplay Engineer</b>
				</div>
			</div>
			
		</div>
		
		<div class = "about-me-box">
			<div>
				<p class = "about-me-text">
					<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</b>
				</p>
			</div>
			<div class = "about-me-links" style="">
				
				<HeaderLink
					title = "Personal Projects"
					href = "/projects/"
					style = {get_style("project", false)}>
				</HeaderLink>
				<HeaderLink
					title = "Devlog"
					href = "/dev0/"
					style = {get_style("devlog", false)}>
				</HeaderLink>	
			</div>
		</div>
	</div>

</IndexLayout>
