---
export interface Props {
	href: string;
    image: string;
    title: string;
    body: string;

}
const { href, image, title, body } = Astro.props;

let image_styling = "background: url(" + image + ")";


---

<a class = "project-image-container" href = {href}>
    <div class = "project-image-inner">
        <div class = "project-image-background" style = {image_styling}>
            <h1>
                {title}
            </h1>
            <p>
                {body}
            </p>
        </div>
    </div>
</a>


<style>

</style>
