---
import { ViewTransitions } from "astro:transitions";
import HeaderLink from "./HeaderLink.astro";

export interface Props{
    selected: string,
}

const anim = {
	old: {
	  name: 'test',
	  duration: '0.2s',
	  easing: 'linear',
	  fillMode: 'forwards',
	},
	new: {
	  name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'linear',
	  fillMode: 'forwards',
	}
  };
  
  const myFade = {
	forwards: anim,
	backwards: anim,
  };

const { selected } = Astro.props;

const canonicalURL = new URL(Astro.url);

function get_style(name:string, selected:string): string{
    console.log(name, selected);
    if (name == selected){
        return "color: var(--text-color-dark); text-shadow: 0px 3px 0 var(--text-color-light);";
    } else{
        return "color: var(--text-color-dark);";
    }
}
---
<a href = {"http://"+canonicalURL.host + "/index.html"} class= "mobile-headshot" style = "display: flex; justify-content: center;">
    <img src = {"http://"+canonicalURL.host + "/images/headshot-circle.png"} width="50%" alt = "Me."/>
</a>
<div class = "sidebar translationIn">
    <div class = "full-headshot">
        <nav>
            <a href = {"http://"+canonicalURL.host + "/index.html"} style = "width: 100%; height: 100%; display:block;">
                <img src = {"http://"+canonicalURL.host + "/images/headshot-circle.png"} style = "width: 100%; height: 100%; display:block;" alt = "Me."/>
            </a>
        </nav>
    </div>
    
    <HeaderLink
        title = "Projects"
        href = {"/projects/"}
        style = {get_style("project", selected)}>
    </HeaderLink>
    <HeaderLink
        title = "Devlog"
        href = {"/dev0/"}
        style = {get_style("devlog", selected)}>
    </HeaderLink>
</div>